#!/bin/bash

cd /var/backups/gateway
date=`date +%Y-%m-%d_%H_%M`

filename=transitions_${date}.gz
mongodump -db history --collection transitions --out - | gzip > ${filename}
scp ${filename} {{ backup_host }}:/var/backups/gateway/${filename}

filename=people_${date}.gz
mongodump -db history --collection people --out - | gzip > ${filename}
scp ${filename} {{ backup_host }}:/var/backups/gateway/${filename}

