<VirtualHost *:{{ webport }}>
  ServerAdmin webmaster@localhost
  ServerName  {{ sitename }}.{{ master_host }}
  ServerAlias {{ sitename }}.{{ ansible_default_ipv4.address }}.xip.io

  ProxyPass         / http://localhost:2000/
  ProxyPassReverse  / http://localhost:2000/
  ProxyPreserveHost On

  ErrorLog ${APACHE_LOG_DIR}/error.log
</VirtualHost>
