module.exports = {
  secret: '{{ jwt_secret }}',
  app_host: '{{ app_host }}',
  afterconf: '{{ afterconf }}',
  certs: {
    endpoint: '{{ certs.endpoint }}',
    user:     '{{ certs.user     }}',
    pass:     '{{ certs.pass     }}',
  },
  operators: {
    {% for operator in operators %}
       '{{ operator.name }}': '{{ operator.ip }}',
    {% endfor %}
  },
  repositories: [
    {% for descriptor in repositories %}
      {
        name:     '{{ descriptor.name     }}',
        endpoint: '{{ descriptor.endpoint }}',
        user:     '{{ descriptor.user     }}',
        pass:     '{{ descriptor.pass     }}',
      },
    {% endfor %}
  ],
  printers: {
    {% for printer in printers %}
      '{{ printer.name }}': '{{ printer.endpoint }}',
    {% endfor %}
  },
  sendmail: {
    secureConnection: {{ sendmail.secure_connection }},
    host: '{{ sendmail.host }}',
    port: {{ sendmail.port }},
    from: '{{ sendmail.from }}',
    bcc: '{{ sendmail.bcc }}',
    auth: {
      user: '{{ sendmail.user }}',
      pass: '{{ sendmail.pass }}',
    }
  }
};
