#!/bin/bash

APP_PATH={{ app_path }}
PORT={{ port }}
CMD="node app.js $PORT"
LOGFILE=/var/log/gateway.log

# Carry out specific functions when asked to by the system
case "$1" in
  status)
    echo -n "Locating process... "
    PID=$(pgrep -f "$CMD")
    if [[ $PID ]]; then
      echo "pid = $PID"
      exit 0
    else
      echo "process is not running"
      exit 1
    fi
    ;;
  restart)
    $0 stop
    $0 start
    ;;
  start)
    EXISTING_PID=$(pgrep -f "$CMD")
    if [[ $EXISTING_PID ]]; then
      echo "gateway service is already running"
      exit 1
    fi
    echo -n "Staring gateway... "
    cd $APP_PATH && $CMD &>> $LOGFILE &
    sleep 2
    PID=$(pgrep -f "$CMD")
    if [[ $PID ]]; then
      echo "ok (pid = $PID)"
      exit 0
    else
      echo "fail!"
      echo "this is a tail of the log:"
      tail -n 20 $LOGFILE
      exit 1
    fi
    ;;
  stop)
    PID=$(pgrep -f "$CMD")
    if [[ $PID ]]; then
      echo -n "Trying to kill process $PID... "
      kill $PID
      echo "ok"
      exit 0
    else
      echo "gateway is not running"
      exit 1
    fi
    ;;
  *)
    echo "Usage: /etc/init.d/blah {start|stop|status}"
    exit 1
    ;;
esac

exit 0
