---

app_path: /opt/gateway
port: 2000
jwt_secret: sshh

repositories:
  - name: papers
    endpoint: 'http://192.168.33.80/papers_ng/api'
    user: api_user
    pass: api_pass
  - name: greve
    endpoint: 'http://192.168.33.90/greve/api'
    user: api_user
    pass: api_pass

printers:
  - name: 1
    endpoint: 'http://10.5.0.21:7001'

operators:
  - name: novos-1
    ip: '10.5.0.21'
  - name: novos-2
    ip: '10.5.0.90'
  - name: novos-3
    ip: '10.5.0.23'
  - name: novos-4
    ip: '10.5.0.24'
